@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MPT Games</h1>
    <p style="margin-top: 15px" class="lead">Welcome to MPT Games' Crossword Puzzles!</p>
    <p style="margin-top: 5px">Have a great time and enjoy your stay!</p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-3">
        @if (Request.IsAuthenticated) 
        { 
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            <p class="btn btn-default btn-lg"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></p>
            }
        }
        else
        {
            <p class="btn btn-default btn-lg">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </p>
        }
    </div>
    <div class="col-xs-6 col-sm-3">
        <p class="btn btn-default btn-lg">@Html.ActionLink("Register New User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <p class="btn btn-default btn-lg">@Html.ActionLink("Contact Info", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" }) </p>
    </div>
    <div class="col-xs-6 col-sm-3">
        <p class="btn btn-default btn-lg">@Html.ActionLink("About Us", "About", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" }) </p>
    </div>
</div>